html {
    scroll-behavior: smooth;
}


.navbar-nav{
    gap: 4rem;
}
.cust-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cust-name1:hover,
.cust-name2:hover,
.cust-name3:hover,
.cust-name4:hover {
    /* Hover styles here */
    scale: 1.02;
    color: green !important;
    transition: 0.1s ease-in-out;
}


*{
  font-family: "Cairo play", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.btn-primary{
    background:#0b65a0;
    border: #fff;
}

.h-row{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.img-custom{
    rotate: 180deg;
    transform: translate(114%, 30%);
    position: absolute;
}
.wrapper-container{
    /* background: rgb(56,129,102);
    background: linear-gradient(90deg, rgba(56,129,102,1) 0%, rgba(0,125,121,1) 63%, rgba(0,190,156,1) 99%); */

     background: rgb(11,101,160);
background: radial-gradient(circle, rgba(11,101,160,1) 40%, rgba(147,213,255,1) 99%);
}
.carousel{
    width: 40rem;
    border-radius: 12px;
}
.carousel-caption{
    color: black;
}.img-carousel{
    width: 12rem;
}

#carouselExampleCaptions{
    transform: translate(-51vw, -32vh);
}


.wave{
    height: 20rem;
}

.car-buttons{
    display: flex!important;
    justify-content: flex-end;
    align-content: center;
    gap: 1rem;
 

}
.carousel-indicators [data-bs-target]{
    background-color:  rgb(11,101,160);;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-section{
    transform: translateY(-5rem);
}

.card {
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 11px;
    cursor: pointer;
    border: 2px solid #027d79;
    transition: 0.3s ease-in-out;
}

.cs-card:hover {
    background: rgba(4, 133, 207, 0.703);
    box-shadow: 0 8px 32px 0 rgba(0, 77, 170, 0.909);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    border: 0rem;
    scale: 1.06;
    .arrow > svg{
    fill: #027d79;
    stroke: #027d79;
    background: green;
    color: #fff;
    }
}

.heading{
    font-size: 2.5rem;
    color: #0b65a0;
    font-weight:500;
}

.header{
    justify-content: center;
}

.card-section{
    background: rgb(11,101,160);
    background: radial-gradient(circle, rgba(11,101,160,1) 40%, rgba(147,213,255,1) 99%);}


.card-big{
    width: 15rem;
    height: 14rem;
}


.cust-cards{
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    flex-direction: row;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: rgb(255, 255, 255);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
border-radius: 29px 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
height: 12.5rem;
width: 23rem;
}
.cust-cards:hover{
    background: rgb(214, 237, 255);
    scale: 1.05;
    color: black;
}
.mid-cards{
    gap: 5rem;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
   width: 75%;
   transform:translateX(-20%);
   display: flex;
   justify-content: center;
}

.imageclass{
    width: 70vw;
}

.footer{
    height: 71vh;
}
  .waves > use {
    animation: move-forever 2s -2s linear infinite;
  }
  
  .waves > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 6s;
  }
  .waves > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 3s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  

.ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

li>img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 4rem;
    transition: 0.3s ease-in-out;
}

li > .img-social:hover {
    width: 2.7rem;
    height: 2.7rem;
    margin-top: 4rem;
    /* Use a different property to change the color, e.g., background-color */
    background-color: #027d79;
    /* Optional: Add a transition for smoother color change */
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.logo-footer{
    justify-content: flex-end;
    transform: translate(2rem,-90%);
}
.text{
    transform: translateY(-25%);
    text-align: justify;
    padding-left: 1rem;
}
.lists{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    padding-right: 2rem;
    color:#0b65a0;
    cursor: pointer;
    width: 10%;
}
.list1:hover,
.list2:hover,
.list3:hover,
.list4:hover,
.list5:hover {
    display: flex;
    color: white;
}

.move-top{
    transform: translateY(-80%);
}

.copyright{
    position: absolute;
    transform: translate(-42vw, 25vh);
    display: flex;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;

    padding: 5px;
    height: 20px;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  } 
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap{
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .input-search{
    border-radius: 5px;
  }

